@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-family: Arial, "sans-serif";
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    margin: 0; padding: 0;
}

.nbar {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 45px;
}

.nbar a, a:visited {
    text-decoration: none;
    color: #5f6368;
}

.nbl a, .nbr a {
    padding-left: 27px;
}

.nbl {
    margin-left: 3px;
    float: left;
}

.nbr {
    margin-right: 30px;
    float: right;
}

.center {
    /* display: block; */
    text-align: -webkit-center;
}

.main {
    height: 233px;
    margin-top: 89px;
}

.logo {
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

.search {
    padding-top: 15px;
    width: 100%;
    
}


input {
    margin-top: 0em;
    padding: 10px;
    /* display: block; */
    width: 584px;
    height: 44px;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 2px;
    font-size: 20px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

input:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.buttons {
    margin: 10px;
}

.l_btn, .r_btn {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    line-height: 37px;
    padding: 0 16px 0 16px;
    margin: 11px 4px;
    padding: 0 16px;
    display: inline-block;

}

.fbar {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 37px;
}

.fbar a , a:visited{
    text-decoration: none;
    color: #5f6368;
}

.fsr {
    margin-right: 30px;
    float: right;
}

.fsr a, .fsl a {
    padding-left: 27px;
}

.fsl {
    margin-left: 3px;
    float: left;
}
